script(src="https://lightning.filipmartinsson.com/modal/btcpay.js")
script(type="text/javascript").
    window.onload = function(){
        var id = "#{invoiceId}"
        window.btcpay.showInvoice(id);
        window.btcpay.onModalWillLeave(function(){
            //now we need to check if it was paid
            window.location.href="invoice/"+id;
        })
    }
